{% extends "base.html" %} {% block content %}

<div class="container mt-3">
    {% include "partials/_messages.html" %}
    <form action="{% url "preferences" %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <select
                name = "currency"
                class="form-select"
                id="inputGroupSelect04"
                aria-label="Example select with button addon"
            >
                <option name = "currency" selected>Choose...</option>
                {% for currency in currencies %}
                <option selected>{{currency.name}} - {{ currency.value }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-outline-secondary" type="submit" value="Save"/>
        </div>
    </form>
</div>

<hr />

{% endblock %}
